@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/Gilroy-Light.eot);
    src: local("../fonts/Gilroy"),
    url(../fonts/Gilroy/Gilroy-Light.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-Light.ttf) format("truetype");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../fonts/Gilroy/Gilroy-ExtraBold.eot);
    src: local("../fonts/Gilroy"),
    url(../fonts/Gilroy/Gilroy-ExtraBold.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro/Gotham-Pro-Light.eot);
    src: local("../fonts/GothamProLight"),
    url(../fonts/GothamPro/Gotham-Pro-Light.woff) format("woff"),
    url(../fonts/GothamPro/Gotham-Pro-Light.ttf) format("truetype");
}

@font-face {
    font-family: GothamPro-Medium;
    src: url(../fonts/GothamPro/Gotham-Pro-Medium.eot);
    src: local("../fonts/GothamPro"),
    url(../fonts/GothamPro/Gotham-Pro-Medium.woff) format("woff"),
    url(../fonts/GothamPro/Gotham-Pro-Medium.ttf) format("truetype");
}