@import "fonts.css";

/* default */
* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 1180px;
}
/* --- default --- */

/* header */
.header {
    position: fixed;
    width: 100%;
    height: 67px;
    box-shadow: 3px 4px 9px 1px rgba(4, 82, 182, 0.12);
    background-color: #ffffff;
    z-index: 999999;
}

.header_left a {
    color: #18a4e1;
    font-family: GothamPro-Medium;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.14px;
}

.header_left span {
    color: #18a4e1;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: bold;
    margin-left: -50px;
    margin-right: 5px;
    letter-spacing: 0.6px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header_centre ul {
    display: flex;
    justify-content: space-between;
    width: 723px;
    height: 20px;
    list-style-type: none;
    font-family: GothamPro-Medium;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.14px;
    padding: 0;
}

.header_centre a {
    color: black;
}

.header_centre a:hover {
    color: #0452b6;
}

.header_centre li:hover a:after {
    display: flex;
    position: relative;
    content: "";
    width: 50%;
    left: 25%;
    background-color: #0553b7;
    height: 1px;
}

.header_contacts a {
    display: flex;
    color: #0553b7;
    margin-top: 3px;
    font-family: GothamPro-Medium;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

/* wrapper */
.wrapper {
    width: 100%;
    height: 100%;
    background: url(../img/stomatology.jpg);
    background-size: cover;
    padding-top: 5%;
}

.wrapper_title {
    padding-top: 10%;
    color: #18a4e1;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 0.24px;
}

.wrapper_text {
    width: 65%;
    color: #323232;
    font-size: 36px;
    font-family: Gilroy;
    font-weight: 300;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    padding: 3% 0;
}

.wrapper_text span {
    font-weight: bold;
    font-family: Gilroy-ExtraBold;
}

.wrapper_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 38px;
    background-image: linear-gradient(to right, #0452b6 0%, #18a4e1 100%);
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: GothamPro;
    font-size: 12px;
    font-weight: bold;
    border-radius: 17px 15px;
}

.wrapper_img {
    position: absolute;
    margin-top: 5%;
    right: 0%;

}

.wrapper_img img {
    width: 100%;
    height: 100%;
}

.work_time {
    width: 450px;
    height: 104px;
    padding-top: 5%;
    color: #323232;
    font-family: GothamPro;
    font-size: 16px;
    line-height: 30px;
}

.work_time_title {
    width: 404px;
    margin-bottom: 2%;
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 16px;
    font-weight: bold;
}

.work_time_item {
    display: flex;
    margin-bottom: 3%;
    align-items: center;
    text-transform: none;
    font-family: GothamPro-Medium;
}

.work_time_item span {
    margin-left: 2%;
}

.work_day {
    background-color: #18a4e1;
    color: #fff;
    border-radius: 5px;
    padding: 0% 3%;
    font-family: GothamPro-Medium;
}

.wrapper_bottom {
    display: flex;
    position: absolute;
    width: 1180px;
    bottom: 8%;
}

.service_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service_item {
    display: flex;
    min-width: 14%;
    height: 210%;
    padding-left: 1%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 14px 1px rgba(5, 83, 183, 0.11);
    background-color: #fff;
}

.service_item p {
    padding: 0 5px;
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 14px;
    font-weight: 500;
}

/* about us */

.about_us {
    width: 100%;
    height: 60%;
    flex-direction: column;
    background: url(../img/girl.png) no-repeat 10% 15%;
}

.about_us_img {
    width: 570px;
    height: 170px;
    box-shadow: 0 0 14px 1px rgba(155, 154, 154, 0.11);
    background-image: url("../img/9-layers.png");
}

.about_us_img img {
    margin-top: 5%;
    margin-left: 8%;
}

.about_us_title {
    padding-top: 5%;
    padding-left: 21%;
    color: #323232;
    text-transform: uppercase;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: bold;
}

.about_us_text {
    width: 77%;
    margin-top: 3%;
    margin-left: 21%;
    margin-bottom: 7%;
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.about_us_items {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.about_us_item {
    position: relative;
    max-width: 50%;
    color: #fff;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: bold;
}

.about_us_item_bank {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 50%;
}

.about_us_item_card {
    position: absolute;
    top: 40%;
    left: 40%;
}

/* specialists */
.specialists {
    width: 100%;
    height: 60%;
}

.specialists_title {
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 4%;
    text-transform: uppercase;
    text-align: center;
}

.specialists_block {
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
}

.specialists_item {
    display: flex;
    width: 100%;
    height: 21%;
    box-shadow: 0 0 14px 1px rgba(5, 83, 183, 0.11);
    background-color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 1%;
}

.specialists_img {
    width: 15%;
    height: 80%;
    border-radius: 5px;
    overflow: hidden;
}

.specialists_img img {
    width: 100%;
}

.specialists_description {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    height: 100%;
    justify-content: center;
}

.specialists_description_title {
    width: 100%;
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 16px;
    font-weight: bold;
}

.specialists_description_position {
    color: #323232;
    font-family: Gilroy;
    font-size: 16px;
}

.specialists_main {
    display: flex;
    margin-left: 3%;
    margin-right: 2%;
}

.specialists_main_description {
    margin-left: 35px;
    max-width: 350px;
    width: 350px;
}

.specialists_main_title {
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: bold;
}

.specialists_main_position {
    color: #0a0a0a;
    font-family: Gilroy;
    font-size: 16px;
    padding-bottom: 2%;
    margin-top: 2%;
}

.specialists_main_text {
    width: 90%;
    height: 325px;
    color: #0a0a0a;
    font-family: GothamPro;
    font-size: 14px;
    line-height: 22px;
    overflow: auto;
    overflow-y: visible;
    padding-right: 3%;
}

/* documents */
.documents {
    width: 100%;
    height: 55%;
    margin-top: 4%;
    background-image: url(../img/stomatology.jpg);
}

.documents_title {
    width: 100%;
    text-align: center;
    padding: 3%;
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.slider__item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.slider__control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: #fff;
    text-align: center;
    bottom: 0;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url(../img/icons/arrow_left.png);
}

.slider__control_right::before {
    background-image: url(../img/icons/arrow_right.png);
}

.slider__content_img {
    display: flex;
    padding: 20px 15px;
    color: #616161;
}

.slider__content_img img {
    box-shadow: 3px 4px 9px 1px rgba(4, 82, 182, 0.12);
}

/* contacts */
.contacts {
    position: relative;
    width: 100%;
    height: 450px;
}

.contacts_info_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 85%;
    top: 7%;
    right: 5%;
    background-color: #fff;
    box-shadow: 0 0 14px 1px rgba(155, 154, 154, 0.11);
    color: #323232;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: bold;
}

.contacts_title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
    font-family: GothamPro-Medium;
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.6px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contacts_content {
    font-size: 14px;
    display: flex;
    color: #323232;
    flex-direction: column;
    padding-left: 5%;
}

.contacts_content a {
    color: #323232;
}

.place {
    display: flex;
}

.place::before {
    display: flex;
    content: "";
    width: 15px;
    height: 19px;
    margin-right: 5%;
    margin-left: 1%;
    background: url(../img/icons/location_icon.png);
}

.contacts_content .numbers {
    display: flex;
    margin-top: 5%;
    margin-left: 8%;
    color: #323232;
    font-family: GothamPro;
    font-weight: bold;
    font-size: 14px;
}

.contacts_content .numbers::before {
    display: flex;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/icons/phone_icon.png);
    left: 6%;
}

.numbers_items {
    display: flex;
    padding-left: 3%;
    flex-direction: column;
}

.whatsapp {
    margin: 5% 5% 5% 8%;
}

.whatsapp::before {
    display: flex;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/icons/whatsapp_icon.png);
    left: 6%;
}

.mail {
    margin-left: 8%;
    margin-top: 1%;
}

.mail::before {
    display: flex;
    position: absolute;
    content: "";
    width: 16px;
    height: 14px;
    background: url(../img/icons/mail_icon.png);
    left: 6%;
}

.contacts_content .contacts_work_time {
    line-height: 10px;
    margin-top: 5%;
}

.contacts_content .contacts_work_time {
    margin-left: 8%;
    font-family: GothamPro;
    font-weight: bold;
}

.work_time_items {
    padding-bottom: 2%;
}

.contacts_content .contacts_work_time::before {
    display: flex;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    background: url(../img/icons/time_icon.png);
    left: 6%;
}

/* footer */
.footer {
    width: 100%;
    height: 6%;
    background-color: #0452b6;
}

.footer_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.copyrights {
    display: flex;
    color: #fff;
    font-size: 12px;
    line-height: 48px;
    font-family: GothamPro;
}

.copyrights span {
    font-family: GothamPro;
    font-weight: bold;
}